<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
          <li><a href="{% url 'book_list' %}">Book List</a></li>
          <li><a href="{% url 'classification_list' %}">Classification List</a></li>
          <li><a href="{% url 'author_list' %}">Author List</a></li>
          <li><a href="{% url 'publisher_list' %}">Publisher List</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        &copy; 2023 My Library
    </footer>
</body>
</html>