<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valid Date</title>
    <style>
		.results {
			margin: auto;
			width: 50%;
			padding: 10px;
			border: 1px solid black;
			text-align: center;
		}
	</style>
</head>
<body>
    <div class="results">
        <h1><b>Date Validation Results</b></h1>
        <p><b>Date: </b>{{ date }}</p>
        <p><b>Validity:</b>{{ validity }}</p>
    </div>
</body>
</html>