<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Results</title>
    <style>
		.results {
			margin: auto;
			width: 50%;
			padding: 10px;
			border: 1px solid black;
			text-align: center;
		}
	</style>
</head>
<body>
    <div class="results">
        <h1><b>Math Results</b></h1>
        <p><b>Numbers: </b>{{numbers|join:", "}}</p>
        <p><b>Sum: </b>{{total_sum}}</p>
        <p><b>Difference: </b>{{difference}}</p>
        <p><b>Product: </b>{{product}}</p>
        <p><b>Quotient: </b>{{quotient}}</p>
    </div>
</body>
</html>